#database environment
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

#database connect
DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=database

#jwt settings
JWT_SECRET_KEY=test_keys
JWT_ACCESS_COOKIE_NAME=my_token 
JWT_COOKIE_SECURE=False #only HTTPS
JWT_COOKIE_CSRF_PROTECT=False
JWT_ALGORITHM=HS256

#user-admin data 
ADMIN_NAME=admin
ADMIN_EMAIL=admin@admin.ru
ADMIN_PASSWORD=Password1! #lower and upper and digit

#RabbitMQ
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_NAME=rabbitmq
RABBIT_PORT=5672

#RabbitMQ QUEUE names
REQUEST_QUEUE=data_from_model
RESPONSE_QUEUE=model_results

MODEL_PRICE=5
COUNT_FILMS=10